<DOCTYPE html>
  <head>
    <title>login</title>
    <link rel="stylesheet" href="./css/login.css">
  </head>
<html>
  <head></head>
  <body>
    <form action="/loginsubmit" method="post">
      <label>Username: </label><input name="username" required><br><br>
      <label>Password: </label><input type="password" name="password" required><br><br>
      <input type="submit" value="Login">
    </form>
  </body>
</html>
<style>
*{
  text-align: center;
  padding-bottom: 5px;
  border-radius: 10px;
  background-color: #1f53a6;
}
</style>